.imgsint2 {
    float: right;
    width: 35%;
    cursor: pointer;
}
.AddIntForm{
    float: left;
border-radius: 15px;
background-color: rgb(77, 130, 161);
border: 20px solid rgb(77, 130, 161);
width: 750px;
}