/* .Salcontainer {
    margin-left: 10%;
}

.form-control-sal {
    background-color: #a7b6e7;
    color: rgb(231, 240, 243);
    width: 70%;
    background-color: lightblue;
}

.btn btn-primary-sal {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
} */